li a {
    color: green;
}

body {
    background: white url("images/background.png") no-repeat;
}

li {
    color: blue;
}


.button {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: blue;
}